<div class="round">
    <app-title *ngIf="!isSecondScreen"></app-title>
    <app-score *ngIf="!isSecondScreen" [score]="score"></app-score>

    <div class="card">
        <h3>Round {{roundIndex + 1}}</h3>
        <h1 [ngClass]="{'hidden': !round.isQuestionRevealed}">{{round.question}}</h1>
        <p *ngIf="isSecondScreen">{{numAnswers}} Answers</p>
        <div class="answers">
            <app-row *ngFor="let number of numbers; let i = index" [answer]="round.answers[i]" [index]="i"></app-row>
        </div>
    </div>
</div>