ul h1.bold {
    color: #FFC62A;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;

    font-size: 24pt;
    text-shadow: 1px 2px 4px #FF9122;
} 

ul {
    margin-top: 20px;
    list-style: none;
    color: white;
    font-size: 18pt;

    padding: 20px 40px 20px 60px;
    border-radius: var(--cardBorderRadius);
    background: var(--cardBGColor);

    opacity: 0.0;
}

.visible { 
    opacity: 1.0;
}

li {
    font-family: "Arial Narrow";
    line-height: 140%;
    opacity: 0.0;
}

li::before {
    content: "•";
    color: rgba(255, 255, 255, 0.4);
    display: inline-block; width: 1em;
    margin-left: -1em;
    font-size: 24pt;
}