:host {
    display: block;
}

p.title {
    font-weight: bold;
    font-size: 12pt;

    padding-right: 20px;
}

.row {
    display: flex;
    align-items: center;
}

.row + .row {
    margin-top: 5px;
}

.row > * + * {
    margin-left: 5px;
}

input.text {
    margin-left: 5px;
    flex-grow: 1;
    width: 100%;
}

.row .input {
    flex-grow: 1;
}

.input input{
    width: 100%;
}
