:host {
    display: block;
    background-image: linear-gradient(180deg, #94C7FF 0%, #549EFC 41%, #0F64C7 56%, #0052A8 100%);
    border: 3px solid #FFFFFF;
    box-shadow: inset 0 7px 6px 2px rgba(0,0,0,0.50);

    opacity: 0.3;
    transition: opacity 0.5s;
}

:host.active{
    opacity: 1.0;
}

div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    color: white;
    font-weight: bold;
    font-family: "Arial Narrow";
    text-shadow: 2px 2px rgba(0,0,0,0.50);
}

span.title{
    font-size: 28pt;
    padding: 0px 20px;
}

span.number{
    font-size: 32pt;
    padding: 0px 20px;

    align-self: stretch;
    background: rgba(255,255,255,0.30);
    border-left: solid #94C7FF;

    display: flex;
    align-items: center;
}


/* Badge */
div.badge{
    position: relative;
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.badge svg{
    height: 90%;
    max-height: 80px;
    transform: scaleX(1.3);
    position: absolute;
}

div.badge svg circle{
    z-index: 0;
    fill: rgb(47, 52, 127);
    stroke: #0F64C7;
    stroke-width: 0.5px;
}

div.badge svg text {
    font-family: "Arial Black";
    z-index: 1;
    fill: white;
    font-size: 6px;
}
