:host{
    display: flex;
    margin-top: 10px;
}

:host > * {
    border-radius: 10px;
    height: 40px;
    width: 40px;
}

:host > * + * {
    margin-left: 10px;
}

.slider {
    flex-grow: 1;
    display: flex;

    background: rgb(56, 56, 56);
}

.slider button {
    flex-shrink: 0;
}

.slider .track{
    flex-grow: 1;
    margin: 10px;
}

.slider .track .progress {
    height: 100%;

    background: rgb(142, 142, 142);
    border-radius: 5px;
}