<ng-container *ngIf="winningTeam != null; else draw">
    <h1 class="bold">Winner</h1>
    <h1 class="team" [style.background]="winningTeam.color">{{winningTeam.name}}</h1>
    <p>with a score of</p>
    <h1 class="score">{{winningTeam.score}}</h1>
    <p>your winning price will be handed over shortly.</p>
</ng-container>

<ng-template #draw>
    <h1 class="bold">Draw</h1>
    <div class="teams">
        <h1 class="team" [style.background]="state.team1.color">{{state.team1.name}}</h1>
        <span>&amp;</span>
        <h1 class="team" [style.background]="state.team2.color">{{state.team2.name}}</h1>
    </div>
    <p>have a score of</p>
    <h1 class="score">{{state.team1.score}}</h1>
</ng-template>