:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

span {
    font-size: 10pt;
    color: gray;
}

.keys {
    font-family: monospace;
}

.keys span:not(.plus) {
    padding: 4px 10px;
    background-color: gray;
    border-radius: 4px;
    font-size: 12pt;
    font-weight: normal;
    color: black
}

.keys span.plus {
    font-weight: normal;
    margin: 4px;
    color: gray;
}